
LOGGER__APP_NAME=Vector Editor
LOGGER__DEBUG=true
LOGGER__LOG_LEVEL=INFO
LOGGER__ENABLE_FILE_LOGGING=false
LOGGER__LOGS_DIR=logs
LOGGER__LOGS_FILE_NAME=vector_editor.log
LOGGER__MAX_FILE_SIZE_MB=10
LOGGER__BACKUP_COUNT=5
